*.pyc
*.bak
*.dat
*.dir
*.pyc
*~

.ipynb_checkpoints
.vscode

checkpoint
myvenv
__pycache__

*.dot
*.plt
*.tab

logs/*

tf_logs/*

input/**
!input/.gitkeep

output/**
!output/.gitkeep

images/**
!images/.gitkeep
!images/???.png
!images/*.dot

python_cookbook/**
python_cookbook

ply/**
ply

beginners-pytorch-deep-learning/**
beginners-pytorch-deep-learning

pytorch_learning/test
pytorch_learning/train
pytorch_learning/val

mnist_train
mnist_train/**

runs
runs/**
